.form-group {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
}

.form-input{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-color: #ccc;
   
}

.pagos-container{
   width: 100%;

}


.contenedor-general{
    display: flex;
    margin-left: auto;
    margin-right: 80px;
    margin-top: 2px;
    margin-bottom: 20px;
   /* un div se queda y el otro baja */
    flex-wrap: wrap;
    max-width: 1790px;
 /* rellenar todo el contenido con el div se queda */
    justify-content: center;
    align-items: center;


}

.form-group-otrosPagos{
    margin-bottom: auto;
    width: 100%;
    margin-left: 60px;
    margin-top: 100px;
    margin-right: auto;
    flex-wrap: wrap;
    max-width: 800px;

}

.form-imagen1{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-color: #ccc;
}

.form-imagen2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-color: #ccc;
}

.img-pagos{
    width: 50%;
    height: 10%;
    border-color: rgb(206, 206, 206);
    border-style: 2px solid transparent;
}

.boton-solicitar{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: auto;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(22, 22, 22);
    background-color: rgb(213, 213, 213);
    background-image: none;
    border-color: #ccc;
}

.informe-container{
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1790px;
}

.img-wasap{
    width: 350px;
    /* height: 10%; */
    border-color: rgb(206, 206, 206);
    border-style: 2px solid transparent;
}